*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 20px;
    text-align: center;
}
.inDiv{
    text-align: center;
}
#in{
width: 400px;
height: 150px;
}
.outDiv{
    text-align: center;
}

#out {
    width: 400px;
    display: block;
    margin: auto;
    text-align: left;

}