*{padding: 0;
margin: 0;

}

h1{
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 20px auto;
    border: 5px solid rgb(50, 50, 50);
    border-radius: 10px;
}

.main{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;
    text-align: center;
    margin: auto;
    border: 5px solid rgb(53, 53, 53);
    border-radius: 10px;
    
}

li{
    list-style: none;
    text-align: left;
    padding: 0 0 0 20px;

}